USE [IMDSPlus]
GO
/****** Object:  StoredProcedure [dbo].[usp_groupCasesForWarrant]    Script Date: 4/29/2026 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- spvc CheckIn Build: 5173 - 2016-05-10 11:06:34 - REJISDOM\smueller - 16-0883 -  - handle grouping business defendants
-- spvc CheckIn Build: 4813 - 2015-11-19 13:56:05 - REJISDOM\dvogt -  -  - Added DeadLock Priority
-- spvc CheckIn Build: 4812 - 2015-11-19 13:39:25 - REJISDOM\smueller - 15-1869 -  -
-- spvc CheckIn Build: 4044 - 2014-12-09 14:40:50 - REJISDOM\smueller - 6571 -  - bugfix - pre 1st release

ALTER procedure [dbo].[usp_groupCasesForWarrant]
 (
       @agcy_id			char(2),
	   @err_msg			varchar(512) = NULL OUTPUT
 )
as
 begin
 SET DEADLOCK_PRIORITY LOW
	--
	-- Step through le_warrant_request_log for WARS cases in RUN status.
	-- Attempt to match them by defendant in groups of up to 5 cases.
	--
	-- Designed to be called from standalone batch program leweb_warrant_interface.exe
	--
	-- ** Debugging hint -- search for "@pc = <return status value>"  (this is also the Err # on the "END" log entry **
	--
	--


	set nocount on
	

	--
	-- Local storage
	--
	declare	@this 			varchar(128)	-- Used for error logging
	select	@this = 		object_name(@@procid)
	--
	declare	@SQL			varchar(2048)	-- SQL for use with EXEC
	declare	@errtxt			varchar(512)	-- Error text for ..._writelog
	--
	declare	@err			int				-- Last error code, @@error
	declare	@rc				int				-- Rows affected, @@rowcount
	declare	@rows			int				-- Rowcount for manual check
	declare	@pc				int				-- Operation locator for status messages and debugging
	--
	declare	@combo			char(1)
	declare	@name			varchar(55)
	declare	@race			char(1)
	declare	@sex			char(1)
	declare	@dob			datetime
	declare	@casenum		varchar(15)
	declare	@requestid		int
	declare	@runstatus		char(5)
	declare	@groupsize		int
	--
	declare	@_name			varchar(55)
	declare	@_race			char(1)
	declare	@_sex			char(1)
	declare	@_dob			datetime
	declare	@_casenum		varchar(15)
	declare	@_requestid		int
	--
	declare	@groupid		int
	declare	@groupcount		int
	declare	@loopctr		int
	declare	@newgroup		int
	declare	@newgroupset	int
	declare	@sort1			int
	
	--
	-- Validation and setup
	-- ================================================================================================================
	select	@runstatus = 'RUN',
			@groupsize = 5
	--
	select	@combo = coalesce(create_multi_sngl_case_warr_ind,'S')
	from	agcy  with (nolock)
	where	agcy_id = @agcy_id

	--
	-- Everything else here
	-- ================================================================================================================

	--
	-- Single case per warrant court
	-- Update all the records so we get 1to1 processing and leave.
	if @combo = 'S'
	 begin
		select @pc = 100
		begin try
			update	le_warrant_request_log
			set		group_id = request_id
			where	agcy_id = @agcy_id
			 and	status = @runstatus
			--
			return 0
		end try
		begin catch
			select @err_msg = @this+' - Error updating le_warrant_request log (1) - '+error_message()
			return @pc
		end catch
	 end
	
	
	--
	-- Cancellations will be done individually.
	select @pc = 200
	begin try
		update	le_warrant_request_log
		set		group_id = request_id
		where	agcy_id = @agcy_id
		 and	status = @runstatus
		 and	subseq_proc = 'WARC'
	end try
	begin catch
		select @err_msg = @this+' - Error updating le_warrant_request log (2) - '+error_message()
		return @pc
	end catch



	--
	-- Step through the processable rows and set a group_id for each
	declare	gcfw1 cursor for
		select		coalesce(n.business_name,rtrim(n.last_name)+','+rtrim(coalesce(n.first_name,''))),
					coalesce(n.race,''), coalesce(n.sex,''), coalesce(n.dob,''),
					l.request_id
		from		le_warrant_request_log l with (nolock)
		 join		name_v n with (nolock)
		  on		l.agcy_id = n.agcy_id
		  and		l.rec_id = n.rec_id
		  and		coalesce(n.name_type,'D') = 'D'
		where		l.agcy_id = @agcy_id
		 and		l.status = @runstatus
		 and		l.subseq_proc = 'WARS'
		order by	1,2,3,4,5
	--
	open gcfw1
	fetch gcfw1 into @name, @race, @sex, @dob, @requestid
	while @@fetch_status = 0
	 begin
		-- testing -- print @name+' : '+@race+' : '+@sex+' : '+convert(varchar(10),@dob,120)+' : '+convert(varchar(8),@requestid)
		--
		if @name = @_name and @race = @_race and @sex = @_sex and @dob = @_dob
		 begin
			--
			-- Found a match, flag it with the current request_id
			-- print 'match'
			begin try
				select @pc = 300
				update	le_warrant_request_log
				set		group_id = @_requestid
				where	request_id = @requestid
			end try
			begin catch
				select @err_msg = @this+' - Error updating le_warrant_request log (3) - '+error_message()
				return @pc
			end catch
		 end
		else
		 begin
			--
			-- No match, this will be the master for it's group
			-- print 'new'
			select @_name = @name
			select @_race = @race
			select @_sex  = @sex
			select @_dob  = @dob
			select @_requestid = @requestid
			--
			begin try
				select @pc = 400
				update	le_warrant_request_log
				set		group_id = request_id
				where	request_id = @requestid
			end try
			begin catch
				select @err_msg = @this+' - Error updating le_warrant_request log (4) - '+error_message()
				return @pc
			end catch
		 end
		--
		fetch gcfw1 into @name, @race, @sex, @dob, @requestid
	 end
	deallocate gcfw1
	
	--
	-- Groups bigger than @groupsize need to be split
	declare gcfw2 cursor for
		select		group_id, count(0)
		from 		le_warrant_request_log with (nolock)
		where 		agcy_id = @agcy_id
		 and 		status = @runstatus
		 and 		subseq_proc = 'WARS'
		group by 	group_id
		having 		count(*) > @groupsize
	--
	open gcfw2
	fetch gcfw2 into @groupid, @groupcount
	while @@fetch_status = 0
	 -- For each group_id that has more than @groupsize rows
	 begin
		print @groupid
		select	@loopctr = 0,
				@newgroup = 0
		--
		declare gcfw3 cursor for
			select		l.request_id,
						case
							when l.request_id = l.group_id then 0
							else 1
						end,						-- Primary must be 1st on the list
						convert(varchar(15),case c.case_type
												when 'f' then c.tkt_num + '0'
												else c.case_num + '1'
											end)	-- F cases listed 1st for section 500 processing
			from		le_warrant_request_log l with (nolock)
			 join		case_rec c
			  on		l.agcy_id = c.agcy_id
			  and		l.rec_id = c.rec_id
			where		l.group_id = @groupid
			order by	2,3
		--
		open gcfw3
		fetch gcfw3 into @requestid, @sort1, @casenum
		while @@fetch_status = 0
		 -- Follow through the group and give everything > @groupsize a new group
		 begin
			print '  '+convert(varchar(8),@requestid)
			select @loopctr += 1
			--
			-- If we're into the area that need a new group_id set ...
			if @loopctr >= @groupsize
			 begin
				-- These are ordered in such a way that an FTA case always comes just before the original case if present
				-- See the case_num stuff in the cursor definition
				-- If FTA case is last in the group then start a new group because original case may be right behind it
				if @loopctr % @groupsize = 0
				 begin
					select @newgroupset = 0
					if right(@casenum,1) = '0'
					 begin
						select	@newgroup = @requestid,
								@newgroupset = 1
					 end
				 end
				-- Off the cliff and didn't already get a new group at @groupsize interval
				if @loopctr % @groupsize = 1 and @newgroupset = 0
				 begin
					select	@newgroup = @requestid,
							@newgroupset = 1
				 end
				--
				if @newgroup > 0
				 begin
					begin try
						select @pc = 500
						update	le_warrant_request_log
						set		group_id = @newgroup
						where	request_id = @requestid
					end try
					begin catch
						select @err_msg = @this+' - Error updating le_warrant_request log (5) - '+error_message()
						return @pc
					end catch
				 end
			 end -- if @loopctr >= @groupsize
			--
			fetch gcfw3 into @requestid, @sort1, @casenum
		 end
		deallocate gcfw3
		--
		fetch gcfw2 into @groupid, @groupcount
	 end
	

SET DEADLOCK_PRIORITY NORMAL
	--
	-- All done
	-- ================================================================================================================
	return 0



 end
;
